.form-subtasks-container {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.add-subtasks-form {
  margin-top: 24px;
  display: flex;
  gap: 24px;

  & input {
    width: 100%;
    min-width: 300px;
  }
}

.subtasks-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  padding: 0px 12px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #4a4f50;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.subtask-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: max-content;
  height: max-content;
  border-radius: 10px;
  padding: 10px 16px;
  border: 1px solid #4a4f50;
  background: var(--background-color);

  & .subtask-text {
    color: white;
    word-break: break-all;
    white-space: pre-wrap;
  }
}

.subtask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 10px;
  padding: 10px 16px;
  border: 1px solid #4a4f50;
  background: var(--background-color);

  & .info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .status {
    display: flex;
    align-items: center;
    justify-content: center;

    & i {
      margin-top: 6px;
      font-size: 18px;
    }
  }

  & .text {
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      font-family: "Montserrat", "sans-serif";
      font-size: 14px;
      color: var(--text-color);
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 6px;

  & .action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: none;

    transition: filter 200ms ease-in;
  }

  & .action-button:hover {
    filter: brightness(85%);
  }

  & .action-button:focus {
    outline: none;
    border: none;
  }

  & i {
    margin-top: 6px;
    font-size: 20px;
  }
}
